version: "3.9"
services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: defg5678@
      MYSQL_DATABASE: cachedb
    ports:
      - "3307:3306"
    command: --default-authentication-plugin=mysql_native_password

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    command: redis-server --appendonly no
